WebContent/WEB-INF/hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 targetNamespace="http://www.uts.edu.au/31284/team2/wsd-hotels"
 xmlns="http://www.uts.edu.au/31284/team2/wsd-hotels"
 elementFormDefault="qualified">
 
 <xs:element name="hotels">
 	<xs:complexType>
 		<xs:sequence minOccurs="1" maxOccurs="unbounded">
 			<xs:element name="hotel" type="hotelType" />
 		</xs:sequence>
 	</xs:complexType>
 </xs:element>
 
 <xs:complexType name="hotelType">
 	<xs:sequence>
 		<xs:element name="name" type="xs:string" />
 		<xs:element name="country" type="xs:string" />
 	</xs:sequence>
 	
 	<xs:attribute name="id" type="xs:unsignedInt" use="required"/>
 </xs:complexType>
 
</xs:schema>